- if flash[:errors]
  .alert.alert-errors
    %ul#errors
      - Array(flash[:errors]).each do |msg|
        %li= msg

- if flash[:notice]
  .alert.alert-success
    %ul#messages
      - Array(flash[:notice]).each do |msg|
        %li= msg
